<header class="header">
  <div class="container">
    <h1 class="logo"><a routerLink="/home">review trung tam</a></h1>
    <div *ngIf="isLoggedIn" class="right">
      <img *ngIf="user.avatarUrl" [src]="user.avatarUrl" alt="avatar" />
      <div class="name">
        <div>{{ user.displayName }}</div>
        <span class="link" (click)="logout()">Đăng xuất</span>
      </div>
    </div>
    <div *ngIf="!isLoggedIn" class="right">
      <a routerLink="/login" class="link">Đăng nhập</a>
    </div>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
    <p class="logo">review trung tam</p>
    <p>
      Made by
      <a
        href="https://www.facebook.com/cong.trinh.984349"
        target="_blank"
        class="link"
        >Trinh Quy Cong</a
      >
    </p>
  </div>
</footer>
