<div class="app">
  <div class="container">
    <h1>Đăng nhập</h1>
    <ul>
      <li>
        <a [href]="googleURL"
          ><img src="/assets/img/google.png" alt="google logo" />
          <span>Login with Google</span></a
        >
      </li>
      <li>
        <a [href]="googleURL"
          ><img src="/assets/img/facebook.png" alt="facebook logo" />
          <span>Login with Facebook</span></a
        >
      </li>
      <li>
        <a [href]="githubURL"
          ><img src="/assets/img/github.png" alt="github logo" />
          <span>Login with Github</span></a
        >
      </li>
    </ul>

    <div *ngIf="errorMessage" class="error-message">{{errorMessage}}</div>

    <div class="btns">
      <div (click)="back()" class="btn">Quay lại</div>
      <a routerLink="/" class="btn">Về trang chủ</a>
    </div>
  </div>
</div>
