.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 520px;
    padding: 30px;
    border-radius: 8px;
    border: none;

    transform: translate(-50%, -60%);
  }

  .btn-cancel {
    font-size: 24px;
    cursor: pointer;
  }
}

.modal-content {
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .bottom {
    .comment-control {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      margin-bottom: 20px;

      textarea {
        min-height: 100px;
        outline: 0;
        border-radius: 4px;
        padding: 12px;
      }
    }

    .rate-control {
      input {
        margin-right: 10px;
      }
      label {
        i {
          color: gold;
        }

        span {
          margin-left: 30px;
        }
      }
    }
  }
}

// -------------------- RESPONSIVE -----------------------
@media (max-width: 576px) {
  .overlay {
    .modal-content {
      width: 90%;
    }
  }
}

@media (max-width: 576px) {
  .overlay {
    .modal-content {
      padding: 16px;
    }
  }
  .modal-content {
    .top {
      margin-bottom: 20px;
    }
    .bottom {
      .comment-control {
        margin-top: 12px;
      }
    }
  }
}
