<div *ngIf="show" class="confirm-delete my-4">
  <div class="overlay">
    <div class="modal-content">
      <div class="top">
        <h3>Are you sure to delete?</h3>
        <span
          type="button"
          class="btn-cancel"
          (click)="raiseCancelToConfirmDeleteEvent()"
        >
          &times;
        </span>
      </div>
      <div class="bottom">
        <button type="button" (click)="raiseConfirmToDeleteEvent()" class="btn">
          Yes, delete
        </button>
        <button
          (click)="raiseCancelToConfirmDeleteEvent()"
          class="btn btn-dark"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
