<div class="search-container">
  <input
    id="searching-key"
    name="searching-key"
    type="text"
    #searchingKey
    (input)="handleSearch(searchingKey.value)"
    [(ngModel)]="currentSearchingKey"
    placeholder="Gõ gì đó..."
    [ngClass]="items.length > 0 ? 'transform' : ''"
  />
  <button
    *ngIf="searchingKey.value"
    (click)="clearSearchingKey()"
    class="btn btn-gray"
  >
    &times;
  </button>

  <section class="result">
    <ul *ngIf="items.length > 0" class="search-result">
      <li *ngFor="let item of items">
        <a [routerLink]="['/centers', item.slug]">
          <img [src]="base64Prefix + item.imageString" />
          <div class="info">
            <p class="name">{{ item.name }}</p>
            <span class="category-name badge badge-dark capitalize">{{
              item.categoryName
            }}</span>
            <span class="address">{{ item.address }}</span>
          </div>
        </a>
      </li>
    </ul>
    <ul *ngIf="items.length == 0 && message" class="search-result">
      <li class="no-item-found">{{ message }}</li>
    </ul>
  </section>
</div>
