<app-list
  *ngIf="!showDetailView; else detailView"
  [items]="items"
  (openConfirmDeleteViewEvent)="onOpenConfirmDeleteView()"
></app-list>
<ng-template #detailView>
  <div class="detail container">
    <h2>Detail</h2>
    <form
      id=""
      #detailForm="ngForm"
      (ngSubmit)="detailForm.form.valid && onSubmit()"
    >
      <div class="form-control">
        <label for="">Name</label>
        <input
          type="text"
          #name="ngModel"
          [(ngModel)]="item.name"
          name="name"
          required
        />
      </div>
      <div class="form-control">
        <label for="">created date</label>
        <input
          readonly
          type="text"
          [ngModel]="item.createdDate"
          name="created-date"
        />
      </div>
      <div class="form-control">
        <label for="">modified date</label>
        <input
          readonly
          type="text"
          [ngModel]="item.modifiedDate"
          name="modified-date"
        />
      </div>
      <div class="form-control">
        <label for="">Enabled</label>
        <input type="checkbox" [(ngModel)]="item.enabled" name="enabled" />
      </div>

      <div *ngIf="detailForm.submitted && name.invalid" class="error">
        Name is invalid
      </div>

      <button>Submit</button>
    </form>
  </div>
</ng-template>

<app-confirm-delete
  *ngIf="showConfirmDeleteView"
  (closeConfirmDeleteViewEvent)="onCloseConfirmDeleteView()"
></app-confirm-delete>

<div *ngIf="errorMessage">{{ errorMessage }}</div>

<div class="container">
  <button type="button" class="btn" (click)="back()">Back</button>
</div>
