<main class="main-content">
  <h2 class="header">
    <span *ngIf="createMode; else updateText">Create category</span
    ><ng-template #updateText>Update category</ng-template>
  </h2>
  <a *ngIf="!createMode" href="admin/categories/new" class="btn"
    >Add new item</a
  >

  <!-- form -->
  <form #detailForm="ngForm" (ngSubmit)="detailForm.form.valid && onSubmit()">
    <div class="form-control">
      <label for="name">Name</label>
      <input
        id="name"
        type="text"
        #name="ngModel"
        [(ngModel)]="item.name"
        name="name"
        placeholder="at least 6 character"
        required
      />
      <div *ngIf="detailForm.submitted && name.invalid" class="error">
        Name is invalid
      </div>
    </div>
    <div class="form-control">
      <label for="">Created date</label>
      <input
        readonly
        type="text"
        [ngModel]="item.createdDate"
        name="created-date"
      />
    </div>
    <div class="form-control">
      <label for="">Modified date</label>
      <input
        readonly
        type="text"
        [ngModel]="item.modifiedDate"
        name="modified-date"
      />
    </div>
    <div class="form-control">
      <label for="enabled">Enabled</label>
      <input
        id="enabled"
        type="checkbox"
        [(ngModel)]="item.enabled"
        name="enabled"
      />
    </div>

    <button [disabled]="detailForm.invalid" class="btn btn-submit">
      Submit
    </button>
  </form>

  <div class="btns">
    <a href="admin/categories/" class="btn btn-gray btn-left">To list page</a>
    <button type="button" class="btn btn-gray" (click)="back()">Back</button>
  </div>
</main>
