<app-loader [show]="showLoader"></app-loader>
<main class="main-content">
  <div class="container">
    <section class="search"><app-search></app-search></section>

    <section class="categories">
      <h3>Loại trung tâm</h3>
      <ul>
        <li
          [ngClass]="currentCategoryId == '-1' ? 'category-active' : ''"
          (click)="handleGetAllCategoriesBtnClicked()"
        >
          Tất cả
        </li>
        <li
          *ngFor="let category of categories"
          (click)="handleCategoryNameClicked($event, category.id)"
          [ngClass]="
            category.id == currentCategoryId
              ? 'category-active capitalize'
              : 'capitalize'
          "
        >
          {{ category.name }}
        </li>
      </ul>
    </section>

    <section class="centers">
      <h3>Trung tâm</h3>
      <ul>
        <li
          *ngFor="
            let center of centers
              | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: currentPage,
                    totalItems: totalItems
                  }
          "
        >
          <a [routerLink]="['/centers', center.slug]">
            <img [src]="base64Prefix + center.imageString" alt="avatar" />
            <div class="info">
              <div class="name">
                {{ center.name }}
              </div>

              <div class="average-rate-number">
                {{ center.averageRateNumber }}
                <i class="fa-solid fa-star"></i>
              </div>

              <div class="middle">
                <span class="size"
                  >Nhân sự: {{ center.sizeMin }} - {{ center.sizeMax }}</span
                >
                <span class="category-name badge badge-primary capitalize">{{
                  center.categoryName
                }}</span>
              </div>

              <div class="address">
                <i class="fa-solid fa-house"></i>&nbsp;&nbsp;{{
                  center.address
                }}
              </div>
            </div>
          </a>
        </li>
      </ul>

      <div class="pagination-bar">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          [responsive]="true"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>
    </section>

    <section class="today-news">
      <h3>Hôm nay</h3>
      <ul>
        <li *ngFor="let rating of todayRatings">
          <div class="content">
            <div class="user-info">
              <img [src]="rating.avatarUrl" alt="avatar of the user" />
              <span>{{ rating.userName }}</span>
            </div>
            <div class="text-detail">
              &nbsp;đã đánh giá trung tâm&nbsp;
              <b>{{ rating.centerName }}</b>
            </div>
          </div>
          <a class="link" [routerLink]="['/centers', rating.centerSlug]"
            >Chi tiết</a
          >
        </li>
        <li *ngIf="todayRatings.length == 0" class="pb-4">
          Chưa có review mới, hãy là người đầu tiên!
        </li>
      </ul>
    </section>
  </div>
</main>
